$glass-white: rgba(255, 255, 255, 0.09);
$violet: #784E9E;
$violet-500: #423E73;
$blue-300: #4054B2;
$blue-700: #211C5B;
$pink-100: #E4D0E5;
$pink-700: #E31C8D;
$orange-300: #f4a044;
$orange-400: #F28820;
$yellow-cyber: #DEBE4C