.banner {
    padding: 70px 0 20px 0;
    background-color: $pink-100;

    button:first-of-type {
        @include styleButton($pink-700, white, 13px 20px, $blue-700);
        font-weight: 600;
    }

    button:last-of-type {
        @include styleButton($pink-700, white, 13px 20px, $blue-700);
        background-size: 150%;
        // background-image: linear-gradient(to right, $blue-700 0, $pink-700 51%, $blue-700 100%);
        background-image: linear-gradient(to right, $pink-700 0, $blue-300 51%, $pink-700 100%);
        font-weight: 600;
        transition: all 1s;

        &:hover {
            background-position: right center;
        }
    }

    img {
        transition: all 1s;

        &:hover {
            transform: translateY(-30px);
        }
    }
}

.banner_course {
    background-image: url("./../assets/img/blue-bg.png");
    background-repeat: no-repeat;
    background-position-y: 80px;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    button,
    a {
        @include styleButton($pink-700, white, 10px 23px, $blue-700);
    }

    img {
        border-radius: 8px;
        width: 310px;
        height: 176px;
        border-radius: 15px;
        object-fit: cover;
        object-position: center;
    }
}

.banner_danhmuc {
    text-transform: uppercase;
    padding: 30px 0;
    background-image: linear-gradient(to left, #fdcbf1, #e6dee9);
    background-size: 200%;
    transition: all 1s;

    &:hover {
        background-position: right center;
    }
}