.listKhoaHoc,
.danhMucKhoaHoc {
    color: $blue-700;

    h2 {
        font-size: 25px;
        font-weight: 600;
    }

    .img_content {
        width: 100%;

        img {
            width: 310px;
            height: 176px;
            border-radius: 15px;

            @media screen and (max-width:576px) {
                width: 100%;
                height: 100%;
            }
        }
    }

    button,
    a {
        @include styleButton ($violet, white, 12px 30px, $pink-700);
    }
}