@use "./../../helpers/variable" as *;

.topnav {
    display: none;
    padding: 15px 0;
    transition: all 5s;
    text-align: right;

    @media screen and (max-width:575.98px) {
        padding: 5px;
    }

    #myLinks {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        z-index: 100;
        background-image: linear-gradient(320deg, rgba(242, 113, 33, 0), rgba(233, 64, 87, 0.6), rgba(138, 35, 135, 1));
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 1s;

        &.inactive {
            animation: flipOutY 1s;
            visibility: hidden;
            opacity: 0;
        }

        &.active {
            animation: slideInDown 1s;
            visibility: visible;
            opacity: 1;
        }
    }

    a {
        color: white;
        padding: 7px 6px;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        border: 1px solid transparent;
        border-left: none;
        border-right: none;
        transition: all .5s;

        &:hover {
            color: black;
            font-weight: bold;
            background-color: #fff;
            background-image:
                linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
                linear-gradient(#eee .1em, transparent .1em);
            background-size: 100% 0.5em;
        }
    }

    button.icon {
        position: relative;
        z-index: 101;
        font-size: 25px;
        color: white;
        transform: translateX(10px);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes flipOutY {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }

    30% {
        opacity: 1;
        -webkit-transform: perspective(400px) rotateY(-15deg);
        transform: perspective(400px) rotateY(-15deg)
    }

    to {
        opacity: 0;
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg)
    }
}