@use "./../../helpers/variable" as *;

.popularCourse {
    .left {

        h2,
        p {
            color: $blue-700;
        }

        a {
            font-weight: 600;
        }

        .popular_content {
            p {
                font-weight: bold;
                color: $blue-700;
            }
        }

        @media screen and (max-width: 1023.98px) {
            .popular_content {
                div {
                    text-align: -webkit-center;
                }
            }

            .popular_title {
                text-align: center;
            }

            a {
                display: block;
            }
        }
    }

    .right {

        position: relative;

        .overlay {
            content: "";
            position: absolute;
            width: 100%;
            height: 500px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            background-image: url("./../assets/img/bg-discover.png")
        }

        img {
            position: relative;
            animation: move2 5s infinite;
        }

        @media screen and (max-width: 1023.98px) {
            .overlay {
                height: 100%;
            }
        }
    }
}