.banner {
    padding: 0 0 100px 0;
    background-color: $pink-100;

    button:first-of-type {
        @include styleButton($pink-700, white, 13px 20px, $blue-700);
        font-weight: 600;
    }

    button:last-of-type {
        @include styleButton($pink-700, white, 13px 20px, $blue-700);
        background-size: 200%;
        background-image: linear-gradient(to right, $blue-300 0, $pink-700 51%, $blue-300 100%);
        font-weight: 600;
        transition: all 1s;

        &:hover {
            background-position: right center;
        }
    }

    img {
        transition: all 1s;

        &:hover {
            transform: translateY(-30px);
        }
    }
}

.banner_course {
    background-image: url("./../assets//img/blue-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }

    button {
        @include styleButton($pink-700, white, 10px 23px, $blue-700);
    }

    img {
        border-radius: 8px;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}