.button-left {
  @include styleButton($violet, white, 12px 30px, $pink-700);
}
.button-right {
  @include styleButton($pink-700, white, 15px 18px, lightgrey, $pink-700);
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    $blue-300 0,
    $pink-700 51%,
    $blue-300 100%
  );
  background-size: 200%;
  width: 25%;
  &:hover {
    color: white;
    background-position: right center;
  }
}
