header {
    background-color: transparent;
    background-image: linear-gradient(130deg, $blue-700 0%, $violet 100%);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 15px 0;

    .header_content {
        input {
            @include styleInput($glass-white, white, 10px 20px);
        }

        @media screen and (max-width:997px) {
            display: none;
        }
    }

    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        position: relative;
        display: none;

        #myLinks {
            display: none;
            background-color: white;
        }

        a {
            color: $violet;
            padding: 30px 16px;
            text-decoration: none;
            font-size: 13px;
            display: block;
            text-align: center;
            border-bottom: 1px solid rgb(0, 0, 0, 0.1);
            font-weight: 600;

            &:hover {
                color: $pink-700;
            }
        }

        button.icon {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            font-size: 25px;
            color: white;

            @media screen and (max-width:997px) {
                margin-right: 25px;
            }
        }

        @media screen and (max-width:997px) {
            display: block;
        }
    }

    .active {
        background-color: transparent;
        color: white;
    }

    @media screen and (max-width:997px) {
        padding-bottom: 0;

        .container {
            padding: 0;
        }
    }
}