@mixin styleInput ($bg, $color, $pd) {
    background-color: $bg;
    padding: $pd !important;
    color: $color !important;

    &::placeholder {
        color: white;
    }

    &:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    }
}

@mixin styleButton ($bg, $color, $pd, $hover-bg, $hover-color: white) {
    background-color: $bg;
    // background-image: linear-gradient(to right, #3f51b1, #5a55ae, #7b5fac, #8f6aae, #a86aa4, #cc6b8e, #f18271, #f3a469, #f7c978);
    color: $color;
    padding: $pd;
    border: 2px solid $blue-700;
    border-radius: 10px;
    transition: all .5s;
    font-size: 15px;
    line-height: 1;

    &:hover {
        background-color: $hover-bg;
        color: $hover-color;
    }
}